<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome User | OTP</title>

    <link rel="stylesheet" href="/public/style.css">

    <style>
        
        .main-otp{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 70vh;
        }
        .form1{
            margin-right: 20px;
            height: 80%;
            width: 35%;
            border: 1px solid black;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.384);
        }
        .form2{
            margin-left: 20px;
            height: 80%;
            width: 35%;
            border: 1px solid black;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.384);
        }

        .inp{
            width: 220px;
            height: 28px;
            border: none;
            color: rgb(8, 0, 120);
            font-size: medium;
            border-radius: 5px;
        }
        .btn{
            width: 100px;
            height: 30px;
            border: none;
            border-radius: 5px;
            background-color: rgb(72, 35, 255);
            color: white;
            cursor: pointer;
        }
        
    </style>
    
</head>

<body>
    <div class="main-otp">
        <form method="POST" action="verify" class="form1">
            <div >
                <input class="inp" type="text" name="otp" placeholder="Enter OTP of 6 digit" autocomplete="off" required="true" >
            </div>
            <div>
                <h3>{{msg}}</h3>
            </div>
            <label for="html">You can enter custom username here : </label>
            <input class="inp" type="text" name="email" required="true" value={{email}}>
            <br>
            <input class="btn" type="submit" name="signin" value="Log in">
        </form>
        <form method="POST" action="resend" class="form2">
            <div>
                <label for="html">Check You Mail : </label>
                <input class="inp" type="email" name="email" required="true" value={{email}}>
                <br>
                <input class="btn" type="submit" name="signin" value="Resend OTP">
            </div>
        </form>
    </div>

</body>

</html>