<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome User | OTP</title>

    <link rel="stylesheet" href="/public/style.css">
    
</head>

<body>
    <div class="container">
        <h1 style="text-align: center">You Are Now Verified..! {{email}}</h1>

        <form method="POST" action="signout" >
            <button>
                signOut
            </button>
        </form>
        
</body>

</html>